*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
ul, ol, menu{
  list-style: none;
}
a{
  text-decoration: none;
  
}
.container-all{
  display: flex;
  flex-direction: column;
  height: 100vh;
 
  
 }
.container{
  flex-grow: 1;
  display: flex;
}



/* sidebar */
.sidebar{
  width: 240px;
  background-color: black;
  padding: 1.5rem 1.5rem ;
}
.sidebar .logo img{
 filter: grayscale(1) invert(1); 
 width: 40px;
 aspect-ratio: 1;
}
.sidebar .logo{
  display: flex;
  color: white;
  align-items: center;
  gap:8px;
}
.sidebar li, .sidebar-list-title {
  color: #868686;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 2rem;
}
.sidebar li a{
  color: inherit;
}
.sidebar li img{
  filter: invert(0.5);
  width: 20px; 
  
}

.sidebar li:hover, .sidebar-list-title:hover{
  color: white;
}
.sidebar li:hover img{
  filter: invert(0);
}
.nav-bar ul li a{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.nav-bar li a svg{
 width: 40px;
 fill: grey; 
}
.nav-bar li:hover svg{
  fill: white;
}

.sidebar ul{
  margin-bottom: 1rem;
}


/* toolbar */

.toolbar{
  display: flex;
  background-color: #282828;
  flex-wrap: nowrap;
  padding: 0.625rem 0.625rem;
  width: 100%;
}

.toolbar-col-1 img.album-thumbnail{
  max-width: 3rem;
  aspect-ratio: 1;
}
.toolbar-col-1, .toolbar-col-3{
  display: flex;
  align-items: center;
  width: 230px;
}
.toolbar-col-1{
  justify-content: space-between;
}
.player-song{
  padding-left:0.625rem ;
}
.player-song .player-songname{
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
}
.player-song .player-songartist{
  font-size: 0.625rem;
  font-weight: 600;
  color: #868686;
}
.player-song .player-songartist:hover{
  text-decoration: underline;
  color: white;
}
.toolbar .song-actions{
  display: flex;
}
.song-actions svg{
  height: 1rem;
  fill:#868686 ;
  padding: 0px 6px;
}
.song-actions svg:hover{
  fill:white;
}


.player-album{
  display: flex;
  align-items: center;
}
.toolbar-col-3 svg{
  height: 1rem;
  fill:white ;
  padding: 0px 6px;
}
.volume-bar{
  appearance: none;
  background-color: grey;
  border-radius: 10px;
  height: 4px; 
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.toolbar-col-2{
  flex-grow: 1;
}
.toolbar-col-2 .media-controls, .toolbar-col-2 .media-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolbar-col-2 .media-controls svg{
  height: 1rem;
  fill: white;
  padding: 0 10px;
}
#play-button{
  height: 2rem;
}
.media-bar span{
  color: white;
  font-size: 0.625rem;
  font-weight: 600;
  
}

.song-progression{
  height: 4px;
  border: none;
  background-color: grey;
  border-radius: 2px;
  flex-basis: 60%;
  min-width: 150px;
  margin-left:25px ;
  margin-right:25px ;
}
#play-button:hover{
  transform: scale(1.1);
}
.song-progression .song-bar{
  height: 100%;
  background-color: white;
  width: 0%;
  border-radius: 2px;
  animation-name: songprog;
  animation-duration: 60s;
  animation-timing-function: steps(60);
  animation-iteration-count: infinite;

}
.song-progression:hover .song-bar{
background-color: greenyellow;
}
@keyframes songprog{
  0% {
   width: 0%; 
  }
  99% {
    width: 100%;
    
  }
  100%{
    width: 0%;
  }
}
